
body{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(20,100px);
    background-attachment: fixed;
    
}

.grid-item1{
    grid-column-start: 2;
    grid-row-start:2;
    grid-column-end: 4;
    grid-row-end:10;
    background-color: lightblue;
    
}
.grid-item2{
    grid-column-start: 4;
    grid-row-start:2;
    grid-column-end: 7;
    grid-row-end:10;
    background-color: rgb(230, 173, 216);
}
.grid-item3{
    grid-column-start: 7;
    grid-row-start:2;
    grid-column-end: -2;
    grid-row-end:10;
    background-color: rgb(213, 230, 173);
}
.grid-item4{
    grid-column-start: 3;
    grid-row-start:10;
    grid-column-end: -3;
    grid-row-end:15;
    background-color: rgb(230, 173, 173);
}
.grid-item5{
    grid-column-start: 2;
    grid-row-start: 10;
    grid-column-end: 3;
    grid-row-end: 20;
    background-color: rgb(17, 49, 49);
}
.grid-item6{
    grid-column-start:-3;
    grid-column-end: -2;
    grid-row-start: 10;
    grid-row-end: 20;
    background-color: blueviolet;
}
.grid-item7{
    grid-column-start: 3;
    grid-column-end: -3;
    grid-row-start: 15;
    grid-row-end: 20;
    background-color: hotpink;
}

.grid-item9{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 145, 0);
    text-align: center;
    vertical-align: middle;
}
.grid-item10{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(100, 64, 17);
    text-align: center;
    vertical-align: middle;
}
.grid-item11{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(153, 153, 153);
    text-align: center;
    vertical-align: middle;
}
.grid-item12{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 0, 0);
    text-align: center;
    vertical-align: middle;
}